title: "GenVortex"
description: "Un site Jekyll simple avec des équations magnifiques grâce à KaTeX."

# Build settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

# Plugins (pas besoin de jekyll-katex si on utilise un CDN)
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclusions classiques
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

# Defaults
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
